{{>partials/header}}
{{>partials/navBar}}

<div class="container">
    <hr>
    <h2>Categorias</h2>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>Dev web</th>
                <th></th>
            </tr>
        </tbody>
    </table>
</div>

{{>partials/footer}}