<%- include('../../partials/header.ejs'); -%>
<%- include('../../partials/navBar.ejs'); -%>

<div class="container">
    
    <div class="card">
            <div class="card-header">
                <h2>Cadastro dde categoria</h2>
            </div>
            
            <div class="card-body">
                <form method="POST" class="form-control" action="/categories/save">
                    <input type="text" name="title" placeholder="Define o título dda categoria"><br><br>
                    <button class="btn      btn-success">Cadastrar</button>
                </form>
            </div>

    </div>
</div>



<%- include('../../partials/footer.ejs'); -%>
