<%- include('../partials/header.ejs'); -%>


<div class="container">
    <hr>
    <h2>Usuários</h2>
    <a class="btn btn-success" href="/user/createhome">Criar novo Usuário</a>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>ações</th>
            </tr>
        </thead>
        <tbody>
            
           <% user.forEach(Userhome => { %>
                <tr>
                    <th><%= Userhome.id %></th>
                    <th><%= Userhome.email %></th>
                    <th>

                        
                        
                    </th>
                </tr>
           <% }); %>
        </tbody>
    </table>
</div>

<%- include('../partials/footer.ejs'); -%>

<script>
    function confirmar(event, form){
        event.preventDefault()
        let decisao = confirm('Você quer deletar essa categoria?')
        if(decisao){
            form.submit()
        }
    }